<!-- Top Categories-->
<section class="container padding-top-3x padding-bottom-3x">
  <h3 class="text-center mb-30">Top Categories</h3>
  <div class="row">
    <div class="col-md-3 col-sm-6 mb-30"><a class="category-card flex-wrap text-center pt-0" href="shop-boxed-ls.html">
        <div class="category-card-thumb w-100"><img src="../../assets/img/shop/categories/artesania1.png" alt="Category"></div>
        <div class="category-card-info w-100">
          <h3 class="category-card-title">Seating</h3>
          <h4 class="category-card-subtitle">Starting from $269.00</h4>
        </div></a></div>
    <div class="col-md-3 col-sm-6 mb-30"><a class="category-card flex-wrap text-center pt-0" href="shop-boxed-ls.html">
        <div class="category-card-thumb w-100"><img src="../../assets/img/shop/categories/artesania2.png" alt="Category"></div>
        <div class="category-card-info w-100">
          <h3 class="category-card-title">Cabinets</h3>
          <h4 class="category-card-subtitle">Starting from $220.00</h4>
        </div></a></div>
    <div class="col-md-3 col-sm-6 mb-30"><a class="category-card flex-wrap text-center pt-0" href="shop-boxed-ls.html">
        <div class="category-card-thumb w-100"><img src="../../assets/img/shop/categories/artesania3.png" alt="Category"></div>
        <div class="category-card-info w-100">
          <h3 class="category-card-title">Tables</h3>
          <h4 class="category-card-subtitle">Starting from $198.00</h4>
        </div></a></div>
    <div class="col-md-3 col-sm-6 mb-30"><a class="category-card flex-wrap text-center pt-0" href="shop-boxed-ls.html">
        <div class="category-card-thumb w-100"><img src="../../assets/img/shop/categories/artesania4.png" alt="Category"></div>
        <div class="category-card-info w-100">
          <h3 class="category-card-title">Lighting</h3>
          <h4 class="category-card-subtitle">Starting from $95.99</h4>
        </div></a></div>
  </div>
  <div class="text-center"><a class="btn btn-outline-secondary mb-0" href="shop-categories.html">All Categories</a></div>
</section>